
<div [ngClass]="box1">
<img src="../../assets/gulab.jpg">
<h3>₹200</h3>
<button class="btn1" (click)="add()">+</button>
<p class="counter">{{count}}</p>
<button class="btn2" (click)="minus()">-</button>
<button class="btn3">Add To Card</button>
</div>

<div [ngClass]="box2">
    <img src="../../assets/dosa.jpg">
    <h3>₹200</h3>
    <button class="btn1" (click)="add()">+</button>
    <p class="counter">{{count}}</p>
    <button class="btn2">-</button>
    <button class="btn3">Add To Card</button>
</div>

<div [ngClass]="box3">
    <img src="../../assets/noodles.jpg">
    <h3>₹200</h3>
    <button class="btn1">+</button>
    <p class="counter">{{count}}</p>
    <button class="btn2">-</button>
    <button class="btn3">Add To Card</button>
</div>

<div [ngClass]="box4">
    <img src="../../assets/pav-bhaji.jpg">
    <h3>₹200</h3>
    <button class="btn1">+</button>
    <p class="counter">{{count}}</p>
    <button class="btn2">-</button>
    <button class="btn3">Add To Card</button>
</div>

<div [ngClass]="box5">
    <img src="../../assets/khadvi.jpg">
    <h3>₹200</h3>
    <button class="btn1">+</button>
    <p class="counter">{{count}}</p>
    <button class="btn2">-</button>
    <button class="btn3">Add To Card</button>
    
</div>
